<!DOCTYPE html>
<html>
  <head>
    <title>Nerdmetric</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
 Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
  <a href="/linkedin">Sign in with Linkedin</a>
  <%= link_to "Sign in with Linkedin"  %>
 <% end %>

 <!-- NOTICE -->
 <% if notice %>
   <div class='alert alert-primary' role='alert' ><%= notice %></div>
 <% end %>

 <!-- ALERT -->
 <% if alert %>
   <div class='alert alert-info' role='alert' ><%= alert %></div>
 <% end %>

    <%= yield %>
  </body>
</html>
